      body {
        background-image: url(Images/fond-gris.jpg);
      }
      
      .navbar {
        display: inline;
        border: solid 2px grey;
      }

      body {
        font-family: Roboto;
      }

      h2 {
        border-top: solid;
        text-decoration: underline;
        color: rgb(211, 8, 8);
      }


      /* visited link */
      .visited:visited {
        color: rgb(141, 206, 168);
      }

      /* mouse over element */
      div:hover {
        color: tomato;
      }

      /* selected link */
      .active:active {
        color: #e81313
      }

      /* Test des borders */
      .box-1 {
        border-top: solid;
      }

      .box-2 {
        border: 5px hidden red;
      }

      .box-3 {
        border: 5px solid orange;
        line-height: 100px;
      }

      .box-3 > .jaafar {
        color: Blue;
      }

      .box-4 {
        border: 5px dashed orange;
        letter-spacing: 4px;

      }

      .box-5 {
        border: 5px dotted orange;
        word-spacing: 4px;
      }

      .box-6 {
        border: 5px double orange;
      }

      .box-7 {
        border: 5px groove orange;
      }

      .box-8 {
        border: 5px ridge orange;
      }

      .box-9 {
        border: 5px inset orange;
      }

      .box-10 {
        border: 5px outset orange;
      }

      .testespace p {
        display: inline-block;
      }

      /* Test des combinators */


      /* multiple selectors */

      .head, .text1 {
        color: red;
      }

      /* Descendant combinator */

      article p {
        color: blue;
      }

        /* children combinator */

        article > p {
          color: yellow;
        }

        /* Only adjacent siblings of <div> */

        div + .text44 {
          color: brown;
        }
        
        .text4 {
          color: black;
        }

        /* Positioning */

        .boite1 {
          background-color: blue;
          
        }

        .boite2 {
          background-color: green;
        }

        .boite3 {
          background-color: red;
        }

        .boite4 {
          background-color: yellow;
        }

    