body {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  background-color: rgb(149, 241, 149);
  }

 /* Title styling  */

 h1 {
  margin: 0;
 }

h1, h2 {
  text-align: center;
  text-decoration: underline;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
margin-bottom: 20px; 

}

hr {
  height: 2px;
  background-color: green;
  border-color: green;
}
/* Menu styling */
.bigmenu {
  background-color: burlywood;
  max-width: 1480px;
  padding: 20px;
}

.menu1 {
  background-color: burlywood;
}

/* div styling */
.salade1 {
  background-color: red;
}
.salade1 p {
  display: inline-block;
  margin: 8px 0 8px 0;
  font-size: 17px;
}

.para1 {
  text-align: left;
  width: 75%;
  background-color: orange;
}

.para2 {
  text-align: right;
  width: 24.7%;
  background-color: pink;
}

.menu2 {
  background-color: brown;
}

.burgers {
  background-color: red;
}

.burgers p {
  display: inline-block;
  margin: 8px 0 8px 0;
  font-size: 17px;
}

/* Footer styling */
footer {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
}

a:hover {
  color: red;
}
