div {
  border: 1px dashed black;
}


#header {

  display: flex;
  justify-content: center;
  background-color: white;
  position: sticky;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0;
  
}


.logo {
  width: 270px;
}

a {
  color: #ababab;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.navlink:hover {
  color: #00b39b;
}

.div-dropdown {
  position: relative;
}


.dropdown {
  position: absolute;
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
  display: none;
}

.div-dropdown:hover .dropdown {
display: block;
}

.dropdown:hover {
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: space-around;
  margin-left: 450px;

}