div {
  border: 1px dashed black;
}


#header {
  display: flex;
  justify-content: center;
  background-color: white;
  position: sticky;
  top: 0;
  
}


.logo {
  width: 270px;
}

a {
  color: #ababab;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #00b39b;
}

.dropdown {
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: space-around;
  margin-left: 450px;

}