/* styling section 5 */
.section5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e5faf8;
  height: 570px;
  overflow: hidden;
  
}

.titre-para-s5 {
  text-align: left;
  margin-top: 70px;
  font-size: 22px;
  font-family: 'Work Sans', Arial, sans-serif;
  width: 500px;
  margin-left: 100px;
}

.para-gauche-s5 {
  font-size: 15px;
  color: black;
  font-weight: bold;
}

.titre-gauche-s5 {
  color: #00b39b;
}

.box-logos5 {
display: flex;
margin-top: 50px;
justify-content: left;
}

.logo-s5 {
  width: 400px;
}

.section-gauche-s5 {  
margin-left: 100px;
}


/* styling section droite */

.section-droite-s5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 270px;
  gap: 17px 17px;

}

.image-s5 {
  display: flex;
  justify-content: center;
}

.s5-carte1 {
  background-color: white;
  border-radius: 10px;
  margin-top: 35px;
  height: 240px;
  
}

.s5-carte2 {
  background-color: white;
  border-radius: 10px;
  margin-top: 8px;
  height: 240px;

}

.s5-carte3 {
  background-color: white;
  border-radius: 10px;
  height: 240px;
  margin-top: -160px;
}

.s5-carte4 {
  background-color: white;
  border-radius: 10px;
  height: 240px;
  margin-top: -190px;

}

.titre-s5, .para-s5 {
  text-align: center;
}

/* Styling Section 6 */

.section6 {
  text-align: center;
  padding: 45px 250px 45px 250px;
}
