/* styling section 5 */
.section5 {
  display: grid;
  grid-template-columns: 1fr 600px;
  background-color: #67f7e8;
}


.box-logos5 {
display: flex;
margin-left: 120px;
margin-top: 250px;
}

.logo-s5 {
  width: 300px;
}

.section-gauche-s5 {
  
}

.s5-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.image-s5 {
  display: flex;
  justify-content: center;
}

.s5-carte1 {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 280px;
  margin-top: 50px;
}

.s5-carte2 {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 280px;
}

.s5-carte3 {
  background-color: white;
  border-radius: 10px;
  width:200px;
  height: 280px;
}

.s5-carte4 {
  background-color: white;
  border-radius: 10px;
  width:200px;
  height: 280px;
}

.titre-s5, .para-s5 {
  text-align: center;
}

/* Styling Section 6 */

.section6 {
  text-align: center;
  padding: 45px 250px 45px 250px;
}
